.footer{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(31, 32, 32);
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
div{
    box-sizing: border-box;
}
.event_c{
    display: flex;
    flex-direction: column;
    padding-left: 13px; 
}
.event_c span{
    font-size: 20px;
}
.event_c:first-child{
    padding-left: 5px;
}
#s1{
    margin-left: 8px;
}
#s2{
    margin-left: 10px;
}
#s3{
    margin-left: 15px;
}
#s4{
    margin-left: 8px;
}
#s5{
    margin-left: 19px;
}
.event_c span{
    font-size: 11px;
    padding-top: 6px;
    
}
#blue{
    color: blue;
}

